:root {
  --c-1: #404bbf;
  --c-2: #4d5ae5;
  --c-3: #2e2f42;
  --c-4: #fff;
  --c-5: #ffffff;
}
/* Base */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  font-family: 'Raleway', sans-serif;
}
img {
  display: block;
}

.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

.header-class {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
}

.contacts-link {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: var(--c-2);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-text {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.link-two {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
  display: inline-block;
  color: var(--c-3);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  color: #404bbf;
}
.link:hover {
  color: var(--c-1);
}

.element::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.logo-one {
  font-family: 'Raleway', sans-serif;
  color: var(--c-2);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  display: inline-block;
  margin-bottom: 16px;
}

.address {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.contacts-link {
  display: flex;
  gap: 40px;
}
.link-one {
  display: flex;
  gap: 40px;
}
.link-class {
  display: flex;
  gap: 40px;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-class:hover {
  color: #404bbf;
}
.link-class:focus {
  color: #404bbf;
}
.hero-section {
  max-width: 1440px;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  color: var(--c-4);
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  background-color: #4d5ae5;
  cursor: pointer;
  text-align: center;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
.features-section {
  padding: 120px 0;
  display: flex;
  gap: 24px;
}

.features-section-one {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-section-two {
  width: calc((100% - 72px) / 4);
}

.section-one {
  color: var(--c-3);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-one-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team-one {
  display: flex;
  gap: 24px;
}

.our-team-one-one {
  padding: 32px 0;
}

.our-team-two {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-member-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icons-one {
  width: 40px;
  height: 40px;
}
.icons-two {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-two:hover {
  background-color: #404bbf;
}
.icons-two:focus {
  background-color: #404bbf;
}

.svg-class {
  fill: #f4f4fd;
}
.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.icons-container-one {
  width: 264px;
  height: 112px;
}

.section-two {
  color: var(--c-3);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.section-two-one {
  color: var(--c-3);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-two-one-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-section {
  padding: 60px 0;
}
.footer-custom {
  background-color: var(--c-3);
  padding: 100px 0;
}

.our-portfolio {
  padding: 120px 0 120px 0;
}

.our-portfolio-one {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-three-ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.our-portfolio-zero {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-zero:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-image {
  position: relative;
  overflow: hidden;
}

.container-image-overlay-one {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
}

.container-image-overlay-one {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-zero:hover .container-image-overlay-one {
  transform: translateY(0);
}

.section-three {
  color: var(--c-3);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.section-three-one {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-three-one-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-one {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-span {
  color: #f4f4fd;
  display: inline-block;
  align-items: center;
}

.footer-one-one {
  list-style-type: none;
}

.social-zero {
  margin-right: 120px;
}

.social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-one {
  display: flex;
  gap: 16px;
}

.svg-class-one {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-class-two {
  fill: #f4f4fd;
}

.social-one-one {
  width: 40px;
  height: 40px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.social-two {
  margin-right: 120px;
}

.svg-class-one:hover {
  background-color: #31d0aa;
}
.svg-class-one:focus {
  background-color: #31d0aa;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.subscribe-button {
  display: flex;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-svg {
  margin-left: 16px;
  fill: #ffffff;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-one {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-button {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.modal-close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form {
}

.modal-two {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #4d5ae5;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.modal-three {
  position: relative;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg:focus {
  fill: #4d5ae5;
}
