:root {
  --c-1: #404bbf;
  --c-2: #4d5ae5;
  --c-3: #2e2f42;
  --c-4: #fff;
  --c-5: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Raleway', sans-serif;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

span {
  color: #2e2f42;
}

.link {
  color: var(--c-3);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link:hover {
  color: var(--c-1);
}

.address {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.link-class {
  color: #434455;
}

.link-class:hover {
  color: #404bbf;
}

.link-class:focus {
  color: #404bbf;
}

.hero-section {
  background-color: var(--c-3);/* TODO: replace with image */
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрує по горизонталі */
  justify-content: center; /* Центрує по вертикалі */
  height: 100vh; /* Налаштована висота секції, яка забезпечує центрування по вертикалі */
  text-align: center; /* Центрує текст усередині секції */
}

.hero-title {
  color: var(--c-4);
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 20px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  background-color: #4d5ae5;
  cursor: pointer;
  text-align: center;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

.section-one {
  color: var(--c-3);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-one-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-two {
  background-color: #ffffff;
}

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-member-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-two {
  color: var(--c-3);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.section-two-one {
  color: var(--c-3);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-two-one-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

footer {
  background-color: var(--c-3);
}

.logo-one {
  font-family: 'Raleway', sans-serif;
  color: var(--c-2);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.section-three {
  color: var(--c-3);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.section-three-one {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-three-one-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-one {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-span {
  color: #f4f4fd;
}
