:root {
  --c-1: #404bbf;
  --c-2: #4d5ae5;
  --c-3: #2e2f42;
  --c-4: #fff;
  --c-5: #ffffff;
}
/* Base */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  font-family: 'Raleway', sans-serif;
}
img {
  display: block;
}

.link {
  padding: 24px 0;
}

.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

.header-class {
  border-bottom: 1px solid #e7e9fc;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts {
  display: flex;
}

.contacts-link {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: var(--c-2);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-text {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.nav-link {
  display: inline-block;
  color: var(--c-3);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
}
.link:hover {
  color: var(--c-1);
}
.logo-one {
  font-family: 'Raleway', sans-serif;
  color: var(--c-2);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  display: inline-block;
  margin-bottom: 16px;
}

.address {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  display: flex;
  margin-left: auto;
}

.contacts-link {
  display: flex;
  gap: 40px;
}
.link-one {
  display: flex;
  gap: 40px;
}
.link-class {
  display: flex;
  gap: 40px;
  color: #434455;
}
.link-class:hover {
  color: #404bbf;
}
.link-class:focus {
  color: #404bbf;
}
.hero-section {
  max-width: 1440px;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;
  color: var(--c-4);
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: 16px;
  background-color: #4d5ae5;
  cursor: pointer;
  text-align: center;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}
.features-section {
  padding: 120px 0;
  display: flex;
  gap: 24px;
}

.features-section-one {
  display: flex;
  gap: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-section-two {
  width: calc((100% - 72px) / 4);
}

.section-one {
  color: var(--c-3);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-one-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team-one {
  display: flex;
  gap: 24px;
}

.our-team-one-one {
  padding: 32px 0;
}

.our-team-two {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-member-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-two {
  color: var(--c-3);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.section-two-one {
  color: var(--c-3);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-two-one-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-section {
  padding: 60px 0;
}
.footer-custom {
  background-color: var(--c-3);
  padding: 100px 0;
}

.our-portfolio {
  padding: 120px 0 120px 0;
}

.our-portfolio-one {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-three-ul {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.our-portfolio-zero {
  width: calc((100% - 48px) / 3);
}

.section-three {
  color: var(--c-3);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.section-three-one {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.section-three-one-text {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-one {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-span {
  color: #f4f4fd;
  display: inline-block;
  align-items: center;
}
